<!-- add user module -->
  
<form action="">
        <h2 id="title"> Ajouter Participant</h2>
        <div class="form-group">
        <label for="lastname">Nom:</label>
        <input type="text" class="form-control user-input" data-key='lastname' placeholder="Entrer votre nom">
        </div>
        <label for="firstname">Prénom:</label>
        <div class="form-group">
        <input type="text" class="form-control user-input" data-key='firstname' placeholder="Entrer votre prénom">
        </div>
        <br>
        <label for="datenaissance">Date de naissance:</label>
        <div class="form-group">
        <input type="text" class="form-control user-input" data-key='datenaissance' placeholder="Entrer votre date de naissance" >
        </div>
        <label for="email">Email: </label>
        <div class="form-group">
        <input type="text" class="form-control user-input" data-key='email' placeholder="Entrer votre adresse mail" >
        </div>
        <label for="tele">Telephone: </label>
        <div class="form-group">
        <input type="text" class="form-control user-input" data-key='tele' placeholder="Entrer votre numero de telephone">
        </div>
        <div class="btnposition">
        <button type="submit" class="btn btn-primary"  onclick="addUser();">Enregistrer</button>
        <button type="reset" class="btn btn-primary">Annuler</button>
        </div>
    </form>
